/*Stlye Sheet*/

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

/*Removes the bullets from the answer choices in the question list*/
#qa {
    list-style: none;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: flex;
}





